html,
body {
  font-size: 62.5%;
  font-family: Stardew_Valley;
  background-color: rgb(246, 187, 106);
}
.selection-text {
  color: rgb(103, 39, 20);
  text-shadow: -1px 0px rgb(255, 200, 145);
}

@font-face {
  font-family: Stardew_Valley;
  src: url("../fonts/Stardew_Valley.ttf");
}

.selection-box {
  background-color: rgb(220, 123, 6);
  height: auto;
  padding: 2rem;
  margin: 3rem;
  border: 2px solid rgb(105, 56, 2);
}
