html,
body {
  font-size: 62.5%;
  font-family: Stardew_Valley;
  background-color: #000025;
}

@font-face {
  font-family: Stardew_Valley;
  src: url("../fonts/Stardew_Valley.ttf");
}

.answer-box {
  background-color: rgb(220, 123, 6);
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border-top: 3px solid #efa500;
  border-right: 3px solid #efa500;
  border-bottom: 3px solid #b85505;
  border-left: 3px solid #b85505;
  outline: 3px solid #774300;
  box-shadow: -8px 8px rgba(0, 0, 0, 0.4);
}

.answer-text {
  color: rgb(103, 39, 20);
  font-size: 2rem;
  text-shadow: -1px 0px rgb(255, 200, 145);
}

.question-box {
  background-color: #f1ae64;
  height: auto;
  padding: 3rem;
  border: 2px solid #d27305;
  outline: 4px solid #b14e05;
  margin: 3rem;
}

.question {
  color: rgb(103, 39, 20);
  font-size: 4rem;
  text-shadow: -3px 0px rgb(255, 200, 145);
  padding: 0 0 2rem 1rem;
}

.answer-box:hover {
  background-color: #e78405;
  cursor: pointer;
}

.answer-box:active {
  transform: translateX(-4px) translateY(4px);
  box-shadow: none;
}

#submit-button {
  font-family: Stardew_Valley;
  color: rgb(103, 39, 20);
  font-size: 2rem;
  text-shadow: -1px 0px rgb(255, 200, 145);
  background-color: rgb(220, 123, 6);
  height: auto;
  padding: 1rem;
  margin: 1rem;
  border-top: 3px solid #efa500;
  border-right: 3px solid #efa500;
  border-bottom: 3px solid #b85505;
  border-left: 3px solid #b85505;
  outline: 3px solid #774300;
  box-shadow: -8px 8px rgba(0, 0, 0, 0.4);
}

#submit-button:hover {
  background-color: #e78405;
  cursor: pointer;
}

#submit-button:active {
  transform: translateX(-4px) translateY(4px);
  box-shadow: none;
}
